$colors:(

  lightGray : #5B605F,                               /* panel boczny, nawigacja */
  gray : #4a4a49,                                    /* nagłówek, , kolor tekstu w kolumnach */
  orange : #FF6600,                                  /* przyciski, wyróżnienia, nagłówki ekranów */
  white : #FFFFFA,                                   /* kolor tła ekranów */
  blue : #3498DB,                                    /* kolor wiadomości typu info, */
  yellow : #FFB03B,                                  /* kolor wiadomości typu warning */
  seagreen : #468966,                                /* kolor wiadomości typu success */
  darkRed : #BD4932,                                 /* kolor ikony kosza */
  darkgrey : #A1A194,                                /* kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji */
)
