@font-face {
  font-family: "Charmonman", cursive;
  src: url("../fonts/Charmonman-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Charmonman", cursive;
  src: url("../fonts/Charmonman-Bold.ttf");
  font-style: normal;
  font-weight: 700;

}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;

}
@font-face {
  font-family: "Open Sans" ,sans-serif;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;

}
@font-face {
 font-family: "Open Sans", sans-serif;
  src: url("../fonts/OpenSans-Light.ttf");       //jeżeli będą potrzebne
}