.signUp {
  height: 150px;
  background: map-get($colors, lightGray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signUp-block {
  margin-right: 55px;
  display: flex;
}

.signUp-form {}

.signUp-title {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  color: white;
  margin-left: 140px;
  font-weight: normal;
}

.signUp-btn {
  width: 165px;
  height: 55px;
  padding: 6px 10px;
  border-radius: 0;
  border: none;
  margin: 0;
  background: map-get($colors, orange);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}

.signUp-input {
  margin: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding: 0px 10px;
  font-size: 32px;
  font-weight: normal;
  width: 265px;
  height: 55px;

}